<footer>
    <section class="well-xs well-xs--inset-1">
        <div class="container">
            <div class="row flow-offset-1">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    <h6 class="ubold">About</h6>
                    <ul class="list">
                        <li><%= link_to page_path("about") do %>
                            HISTORY
                        <% end %></li>
                        <li><%= link_to page_path("about") do %>
                            REYL GROUP
                        <% end %></li>
                        <li><%= link_to page_path("about") do %>
                            OBJECTIVES
                        <% end %></li>

                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    <h6 class="ubold">Services </h6>
                    <ul class="list">
                      <li><%= link_to page_path("service") do %>
                          WEALTH MANAGEMENT
                      <% end %></li>
                      <li><%= link_to page_path("service") do %>
                          CORPORATE & FAMILY GOVERNANCE
                      <% end %></li>
                      <li><%= link_to page_path("service") do %>
                          CORPORATE ADVISORY & STRUCTURING
                      <% end %></li>
                      <li><%= link_to page_path("service") do %>
                          ASSET SERVICES
                      <% end %></li>
                      <li><%= link_to page_path("service") do %>
                          ASSET MANAGEMENT
                      <% end %></li>

                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">

                    <h6 class="ubold">Contact</h6>
                    <address>
                        <dl>
                            <dt>Need help?</dt>

                        <dl>
                            <dt> E-mail:</dt>
                            <dd>
                                <a href="mailto:support@reylgroup.comm">
                                    support@reylgroup.com</a>
                            </dd>

                        </dl>
                    </address>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    <%= image_tag "footer.svg", class: "img-reponsive" %>
                </div>
            </div>
        </div>
    </section>


</footer>
