<main>
  <!--Start Slider-->

  <div id="owl-carousel" class=" owl-carousel owl-theme slider">

    <div class="item  text-center" style="background-image: url(<%= asset_path 'page-1_slide1.jpg' %>); ">

      <div class="container" >
        <div class="col-md-8 col-md-offset-2 pt-1">
          <h1 >
            <span class="ubold">Go from financial stress</span> <br>

to financial yes.
          </h1>

          <div class="row">

            <div class="text-center">
              <%= link_to new_user_session_path, class: "btn btn-primary btn-md" do %>
                Start Now
              <% end %>>
            </div>

          </div>

        </div>
      </div>
    </div>
    <div class="item  text-center" style="background-image: url(<%= asset_path 'page-1_slide2.jpg' %>); ">
      <div class="container">
        <div class="col-md-8 col-md-offset-2 pt-1 ">

          <h1>
            <span class="ubold">Get reliable help with your credit card <br>
              processing needs</span>
            </h1>

            <div class="row">

              <div class="text-center">
                <%= link_to new_user_session_path, class: "btn btn-primary btn-md" do %>
                  Start Now
                <% end %>>
              </div>

            </div>
          </div>
        </div>
      </div>
    <div class="item  text-center" style="background-image: url(<%= asset_path 'page-1_slide3.jpg' %>); ">

        <div class="container" >
          <div class="col-md-8 col-md-offset-2 pt-1">
            <h1 >
              <span class="ubold">Products and services<br>
                to make banking easy</span>
              </h1>

              <div class="row">

                <div class="text-center">
                  <%= link_to new_user_session_path, class: "btn btn-primary btn-md" do %>
                    Start Now
                  <% end %>>
                </div>

              </div>
            </div>
          </div>
        </div>

  </div>


      <!--End Slider-->
