<main>
    <!--Star Credit & debit card processing-->
    <section class="well-sm">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <h2>
                        <span class="ubold">Credit & debit</span>
                        card processing
                    </h2>

                    <h3>
                        Find the cards best for your needs anywhere in the world.
                    </h3>

                    <p>
                        With our international relations and global partnerships you can now use
                        cardit cards of different types and features all over the world thanks to our American partnerships
                        now you can access your funds  for all your travel needs globally
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <h3 class="color-secondary">
                        <span class="ubold">Credit</span>
                        Cards:
                    </h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 offset">
                    <div class="box">
                        <div class="box-left"><%= image_tag "page-3_img01.png" %></div>
                        <div class="box_cnt offset-2">
                            <h3><a href="#">Visa </a></h3>

                            <p>
                                No matter how carefully you plan, every now and then you may have to make an unexpected payment. With a Visa credit card,
                                you are ready for anything — whether you need to get the car repaired,
                                 make a long trip to visit relatives or just want financial peace of mind.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 offset">
                    <div class="box">
                        <div class="box-left"><%= image_tag "page-3_img02.png" %></div>
                        <div class="box_cnt offset-2">
                            <h3><a href="#">MasterCard </a></h3>

                            <p>Mastercard is a leading global payments & technology company that connects consumers, businesses, merchants, issuers & governments around the world.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 offset">
                    <div class="box">
                        <div class="box-left"><%= image_tag "page-3_img03.png" %></div>
                        <div class="box_cnt offset-2">
                            <h3><a href="#"> Discover </a></h3>

                            <p>All our credit cards are built to give you great rewards and the treatment you deserve, from our flagship
                              cash back credit card to our flexible travel credit card. </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 offset">
                    <div class="box">
                        <div class="box-left"><%= image_tag "page-3_img04.png" %></div>
                        <div class="box_cnt offset-2">
                            <h3><a href="#">American Express </a></h3>

                            <p>Thanks to our relations our American Express cards offers world-class Charge and Credit Cards, Gift Cards, Rewards,
                              Travel, Personal Savings, Business Services, Insurance and more. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <h3 class="color-secondary">
                        <span class="ubold">Debit</span>
                        Cards:
                    </h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 offset">


                    <ul class="marked-list">
                        <li class="fa-arrow-circle-o-right"><a href="#">No required signature</a></li>
                        <li class="fa-arrow-circle-o-right"><a href="#" >Lower processing fees [in many
                            circumstances]</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 offset">


                    <ul class="marked-list">
                        <li class="fa-arrow-circle-o-right"><a href="#">Extremely low risk of chargeback</a>
                        </li>
                        <li class="fa-arrow-circle-o-right"><a href="#">The needs of the customer are met</a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
    </section>
    <!--End Credit & debit card processing-->

    <!--Start Section
    <section class="bg-secondary well-sm">
        <div class="container">
            <div class="row flow-offset-2">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="box-md">
                        <div class="box_left text-center text-sm-left"><img src="images/page-3_img05.png" alt=""
                                                                            class="icon icon-md icon-primary"></div>
                        <div class="box_cnt">
                            <h3>

                                <a href="#"><span class="ubold">Gift</span> <br>
                                    Cards</a>
                            </h3>
                        </div>
                    </div>
                    <p>
                        Ut efficitur odio sit amet pulvinar dignissim. Integer id dui auctor, vulputate libero ac,
                        blandit metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                        ridiculus mus. Fusce velit ligula, dignissim sit amet suscipit sed, tincised donec eget
                        mauris ac libero.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="box-md">
                        <div class="box_left text-center text-sm-left"><img src="images/page-3_img06.png" alt=""
                                                                            class="icon icon-md icon-primary"></div>
                        <div class="box_cnt">
                            <h3>
                                <a href="#"><span class="ubold">Premium</span> <br>
                                    Customer Care</a>
                            </h3>
                        </div>
                    </div>
                    <p>
                        Montes, nascetur ridiculus mus. Fusce velit ligula, dignissim sit amet suscipit sed,
                        tincidunt sed augue. Sed ut tincidunt nunc. Donec sodales laoreet enim. Integer ac congue
                        orci. Proin eros
                        proin vitae arcu et nunc lobortis egestas. Phasellus eu risus non massa pulvinar feugiat
                    </p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="box-md">
                        <div class="box_left text-center text-sm-left"><img src="images/page-3_img07.png" alt=""
                                                                            class="icon icon-md icon-primary"></div>
                        <div class="box_cnt">
                            <h3>
                                <a href="#"><span class="ubold">Online</span> <br>
                                    Access</a>
                            </h3>
                        </div>
                    </div>
                    <p>
                        usce velit ligula, dignissim sit amet suscipit sed, tincidunt sed augue. Sed ut tincidunt
                        nunc. Donec eget mauris ac libero blandit gravida a non dolor. Donec sodales laoreet enim.
                        Integer ac congue orci. Proin eros urna, ultricies vitae tempus ut, tempor a mauris.
                    </p>
                </div>
            </div>
        </div>
    </section>
    End Section -->


    <!--Start Parallax Section-->
    <section class="well-xl parallax" data-url="<%= asset_path 'parallax2.jpg' %>" data-speed="1" data-mobile="true">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12">

                    <h1 class="ubold">
                        Get fast, easy, and affordable credit card <br>
                        processing solution
                    </h1>

                    <%= link_to new_user_session_path,  class: "btn btn-md btn-primary" do %>Start Now<% end %></div>
            </div>

        </div>
    </section>
    <!--End Parallax Section-->

</main>
