<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                      <div class="col-xs-5">
                          <div class="icon-big icon-success text-center">
                              <i class="ti-wallet"></i>
                          </div>
                      </div>
                      <div class="col-xs-7">
                          <div class="numbers">

                              <p>Revenue</p>
                              $<%= @account.account_balance %>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                      <div class="col-xs-5">
                          <div class="icon-big icon-success text-center">
                              <i class="ti-user"></i>
                          </div>
                      </div>
                      <div class="col-xs-7">
                          <div class="numbers">
                          <p>  Account Information </p>
                            <%= link_to edit_account_path, class: "btn btn-primary" do %>
                            view
                              <% end %>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                      <div class="col-xs-5">
                          <div class="icon-big icon-success text-center">
                              <i class="ti-credit-card"></i>
                          </div>
                      </div>
                      <div class="col-xs-7">
                          <div class="numbers">

                              <p>Transfer</p>
                              <%= button_tag :new_transfer, id: "tr_btn", class: "btn btn-primary" do %>
                                Make a transfer
                                <%end%>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
        </div>


    </div>
    <div class="row">
      <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Account History</h4>
                        <p class="category"></p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped">
                            <thead>
                              <th>Transfer Type</th>
                              <th>Account Name </th>
                              <th>Amount</th>
                              <th> Status </th>
                            </thead>
                            <tbody>
                              <%= render :partial => @account.deposits %>

                              <%= render :partial => @account.transfers %>

    </tbody>
  </table>
</div>
</div>
</div>
</div>


      </div>
    </div>

    </div>
  </div>
  <!---second modal for withdraw -->
  <div class="modal" id="transModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog bounceIn animated" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Make A transfer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <div class="row" >
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="icon-big icon-success text-center">
                                        <i class="ti-wallet"></i>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="numbers">

                                        <p>Revenue</p>
                                        $<%= @account.account_balance %>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            <%= render "transfers/form" %>

        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

          </div>
        </div>
      </div>
    </div>


  <%= javascript_include_tag 'view' %>
  <script type="text/javascript">
  $(document).ready(function() {
    view.init();
  });
  </script>
